body{
    padding: 1em 5em;
    color: #8BE9FD;
    background-color: #3C4556;
}
pre{
    color: #FFB86C;
    background-color:#252525;
    border-radius:7px;
    margin: 2em 0;
    padding: 1em;
}
#tacopy{
    heigth: 1px;
    width: 1px;
    position: -1;
}

.oculto {
    position: absolute;
    top: -9999px;
}

.btn-copy{
    background-color:#BD93F9;
    color:#3C4556;
    border:0;
    padding: 1em;
    border-radius: 3px;
    transition: 1.5s;
}

.btn-active{
    background-color:#50FA7B !important;
    transition: 1.5s;
}

a{
    color: white;
}
