# optional local name?
snippet testt "teste tabelado"
func Test${1}(t *testing.T) {
	var tests = []struct {
		${2}       ${3}
	}{
		${4:obj},
	}
	for _, test := range tests {
		actual := $1($2)
		if actual != test.expected {
			t.Errorf("Resultado: %v Esperado: %v ", actual, test.expected)
		}
	}
}
endsnippet